name: Test Homebrew formula bump

on:
  release:
    types: [published]

jobs:
  bump-formula:
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@main

      - name: Bump sveltosctl formula in test tap
        env:
          HOMEBREW_GITHUB_API_TOKEN: ${{ secrets.HOMEBREW_GITHUB_API_TOKEN }}
        run: |
          brew bump-formula-pr \
            abhaykohli/homebrew-tap-sveltosctl-ak/sveltosctl \
            --tag ${{ github.ref_name }} \
            --revision $(git rev-parse ${{ github.ref_name }})